@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Questrial", sans-serif;
}
body {
  overflow-x: hidden;
}
.nav-bar-container {
  width: 100vw;
  height: 60px;
  z-index: 2;
  position: fixed;
  background-color: #0d1216;
  display: flex;
  align-items: center;
}

.links-main-container {
  display: flex;
  width: 500px;
  margin-left: 30%;
  padding-left: 20px;
  align-items: center;
}

.links-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
}
.links-container li {
  color: rgb(212, 209, 209);
  font-weight: bold;
  font-size: 18px;
}

.links-container li a {
  color: rgb(212, 209, 209);
  text-decoration: none;
}

/* DROP DOWN */
.our-service-container {
  position: relative;
}
.our-service-container:hover ul {
  display: flex;
}
.our-service-container ul {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  margin-top: -20px;
  padding-top: 30px;
  top: 20px;
  list-style-type: none;
  background-color: #0d1216;
  border-radius: 2px;
}

.our-service-container ul li {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  padding-left: 4px;
  font-size: 15px;
}
.our-service-container ul li:hover {
  background-color: rgb(58, 57, 57);
}

.main-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #0d1216;
}

[data-component="slideshow"] .slide {
  display: none;
  text-align: center;
  z-index: 1;
}

/* SLIDE SHOW STYLES */
[data-component="slideshow"] .slide.active {
  display: flex;
}

.slide-show-container {
  position: absolute;
  width: 400px;
  height: 450px;
  top: 80px;
  right: 140px;
  border-radius: 4px;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.slide img {
  width: 100%;
  height: 100%;
}
.bottom-bar-container {
  width: 100vw;
  height: 50px;
  background-image: url("./assets/bottom_bar.jpg");
  background-size: 100% 100%;
}

.info-container {
  display: flex;
  width: 100vw;
  height: 65vh;
  align-items: flex-end;
  justify-content: space-between;

  padding-left: 10px;
}
.company-logo-container {
  width: 400px;
  height: 80%;
  margin-top: 100px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.company-logo {
  margin-bottom: 20px;
  padding-left: 190px;
}
.company-logo-container p {
  color: rgb(212, 209, 209);
  font-size: 50px;
  width: 1000px;
  font-weight: bold;
  font-family: "Bitter", serif;
}

.about-us-container {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}

.about-us-img-container {
  width: 400px;
  height: 500px;
}

.about-us-img-container img {
  width: 100%;
  height: 100%;
}
.about-us-text-container {
  width: 600px;
  margin-top: 10px;

  height: 360px;
}

.about-us-text-container h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.about-us-text-container p {
  font-size: 16px;
  color: gray;
  line-height: 30px;
  margin-bottom: 20px;
}

.our-services-container {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-left: 140px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.our-services-container h3 {
  font-size: 35px;
  text-decoration: underline;
}

.contact-us-container {
  padding-top: 20px;
  padding-left: 50px;
  width: 100vw;
}
.contact-us-container h4 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.main-contact-info-container {
  display: flex;
  justify-content: space-evenly;
}

.single-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: 400px;
  position: relative;
}
.single-info-data {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 70%;
}
.single-info-data p {
  font-size: 20px;
  line-height: 30px;
  word-spacing: 2px;
  margin-top: 10px;
}

.divider {
  width: 6px;
  border-radius: 3px;
  height: 100%;
  margin: auto 10px;
  background-color: #0d1216;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 50px;
}

.icon-container img {
  width: 50px;
  height: 50px;
}

.icon-container h2 {
  margin-left: 20px;
  margin-top: 10px;
}
/* MOBILE DEVICE STYLING   */

@media only screen and (max-width: 1100px) {
}
