@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.nav-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e2c46;
}
.nav-bar_logo-container {
  width: 200px;
  height: 40px;

  background-image: url("./assets/logo_2.png");
  background-size: 100% 100%;
}

.nav-bar_burger-container {
  position: fixed;
  left: 10px;
  top: 20px;
}

.nav-bar_close-container {
  position: fixed;
  left: 50px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image: url("./assets/close.svg");
  background-size: 100% 100%;
}

.nav-bar_menu-bar-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  background-color: #0e2c46;
  opacity: 0;
  transition: opacity 500ms 0s ease-out;
}

.nav-bar_menu-bar-container_links-container {
  display: flex;
  margin-top: 30%;
  width: 100%;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  font-size: 10px;
}

.jumbotron-container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/cnc_laser_cutting_5.jpg");
  background-size: 100% 100%;
}

.jumbotron-container-text-container {
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-left: 4%;
}

.jumbotron-container-text {
  color: wheat;
  width: 50%;
  font-size: 30px;
  font-weight: bolder;
}

.jumbotron-container-button {
  margin-top: 10px;
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #72a4cf;

  font-weight: bold;
  font-size: 15px;
}

.make-white {
  color: white;
  text-decoration: none;
}

.info-container {
  margin-top: 25px;
  padding-left: 20px;
}
.info-heading-container {
  height: 30px;
}
.info-text {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: #0e2c46;
  margin-bottom: 10px;
  color: #0e2c46;
}

.info-image-container {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-container {
  width: 100%;
  height: 300px;
  background-color: #0e2c46;
  padding-left: 50px;
  padding-top: 20px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info-svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
/* 700px max-width */
@media screen and (max-width: 700px) {
  .jumbotron-container-text-container {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-left: 4%;
  }
  .jumbotron-container-text {
    font-size: 20px;
    font-weight: bold;
    width: 70%;
  }
}

/* 400 px  */
@media screen and (max-width: 400px) {
  .nav-bar {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0e2c46;
  }
  .jumbotron-container-text-container {
    width: 100%;
    height: 100%;
    padding-top: 50%;
    padding-left: 4%;
  }
  .jumbotron-container-text {
    font-size: 10px;
    font-weight: bold;
    width: 80%;
  }
}
