@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Questrial", sans-serif;
}

.nav-bar-container {
  width: 100vw;
  height: 60px;

  position: fixed;
  background-color: #0d1216;
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-main-container {
  display: flex;
  width: 400px;
  margin-left: 60%;
  padding-left: 20px;
  align-items: center;
}

.links-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style-type: none;
}
.links-container li {
  color: rgb(212, 209, 209);
  font-weight: bold;
  font-size: 15px;
}

.links-container li a {
  color: rgb(212, 209, 209);
  text-decoration: none;
}
.main-page-container {
  width: 100vw;
  height: calc(100vh + 100px);
  display: flex;
  justify-content: space-evenly;
  background-image: url("./assets/background.jpg");
  background-size: 100% 100%;
}

.info-container {
  display: flex;
  width: 100vw;
  height: 65vh;
  align-items: flex-end;
  justify-content: space-between;

  padding-left: 10px;
}
.company-logo-container {
  width: 400px;
  height: 100%;
  margin-top: 100px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
}

.company-logo {
  margin-bottom: 20px;
  padding-left: 190px;
}
.company-logo-container p {
  color: rgb(212, 209, 209);
  font-size: 50px;
  width: 1000px;
  font-weight: bold;
  font-family: "Bitter", serif;
}

.about-us-container {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}

.about-us-img-container {
  width: 400px;
  height: 500px;
}

.about-us-img-container img {
  width: 100%;
  height: 100%;
}
.about-us-text-container {
  width: 600px;
  margin-top: 10px;

  height: 360px;
}

.about-us-text-container h4 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
}
.about-us-text-container p {
  font-size: 16px;
  color: gray;
  line-height: 30px;
  margin-bottom: 20px;
}

.our-services-container {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-left: 140px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.our-services-container h3 {
  font-size: 35px;
  text-decoration: underline;
}

.contact-us-container {
  padding-top: 20px;
  padding-left: 50px;
  width: 100vw;
}
.contact-us-container h4 {
  font-size: 25px;
  /* margin-bottom: 10px; */
  text-decoration: underline;
}
.contact-us-container p {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
